.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  width: 320px;
}
.button {
  border: none;
  padding: 10px 10px;
  width: 300px;
  margin-top: 5px;
  background-color: #d5dde7;
  color: #0a71f5;
  font-weight: bold;
}
.button:hover {
  background-color: #ecf0f6;
}
.inputField {
  padding: 5px 5px;
  border: 2px solid #0a71f5;
}
label {
  font-weight: bold;
}
